/cgi-bin
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/.well-known
/public/.htaccess
/public_html
/storage/*.key
/vendor
/tmp
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.nvmrc
.stderr.log

robots.txt
.htaccess
composer.lock
package-lock.json
