// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import 'form';

.navbar-brand {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
        height: 32px;
        width: auto;
    }
}