.password-wrapper {
    position: relative;
}
.password-wrapper > .form-control {
    padding-right: 1.8rem;
}
.password-wrapper > .password-icons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 2%;
    margin-top: -0.6rem;
    height: 1.2rem;
    cursor: pointer;

    i {
        margin-left: 0.5rem;
        font-size: 1rem;
    }
}

.table .btn {
    display: flex;
    align-items: center;
}

.form-control[disabled], .form-select[disabled] {
    cursor: pointer;
}

.form-notice {
    margin-left: 10px;
    opacity: 0;
    animation-name: form-notice;
    animation-duration: 2s;
}

.form-check {
    user-select: none;
}

@keyframes form-notice {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}